<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <h3>Você é <%= (player.isLoyal ? 'da Resistência' : ' Espião') %></h3>
    <% var mission = room.getCurrentMission(); %>
    <fieldset>
        <legend>Missão <%= room.currentMissionIndex+1 %></legend>
        <% if (mission.playersFailed < mission.failsNeeded) { %>
          <h1 class='green'>MISSÃO BEM-SUCEDIDA %></h1>
        <% } else { %>
          <h1 class='error-text'>MISSÃO FRACASSOU</h1>
          <h2>Missão sabotada por <span class='error-text'><%= mission.playersFailed %></span> agente(s).</h2>
        <% } %>
        <h3>Líder:</h3>
        <li><%= mission.leader.name %></li>
        <h3>Agentes:</h3>
        <% for (var i=0; i<mission.agents.length; i++) { %>
          <li><%= mission.agents[i].name %></li>
        <% } %>
    </fieldset>
    <fieldset>
      <h2>Placar: <span class='green'><%= room.successfulMissions %></span> - <span class='error-text'><%= room.failedMissions %></span></h2>
    </fieldset>
    <% if (room.failedMissions == 3) { %>
      <h1 class="error-text">FIM DE JOGO! Vitória do ESPIÕES!</h1>
    <% } else if (room.successfulMissions == 3) { %>
      <h1 class="green">FIM DE JOGO! Vitória da RESISTÊNCIA!</h1>
    <% } else if (mission.leader.id == player.id){ %>
      <form action="/room/<%= room.id %>/nextMission" %> method="post">
        <button type="submit">PRÓXIMA MISSÃO</button>
      </form>
    <% } %>

  </body>
</html>
