<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    Player: <%= player.name+' ID: '+player.id+(player.isLoyal ? ' Loyal' : ' Spy') %>
    <% var mission = room.getCurrentMission(); %>
    <h1><%= mission.leader.name %> selected:</h1>
    <ul>
      <% var agents = mission.agents %>
      <% for (var i=0; i<agents.length; i++) { %>
        <li><%= room.players[agents[i]].name %></li>
      <% } %>
    </ul>
    <% if (mission.playerHasVoted(player)) { %>
      <h1>You <%= (mission.getPlayerVote(player) ? 'Approved' : 'Rejected') %> this team</h1>
      <h2>Waiting other players' votes</h2>
    <% } else { %>
      <h2>Do you approve this team?</h2>
      <form action=<%= room.id + "/voteTeam" %> method="post">
        <input type="radio" name="vote" value="yes"> Yes <br>
        <input type="radio" name="vote" value="no"> No <br>
        <button type="submit">Confirm vote</button>
      </form>
    <% } %>

  </body>
</html>
