<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/scripts/room.js"></script>
  </head>
  <body>
    <span id="phase" style="display: none"><%= room.phase %></span>
    <span id="roomId" style="display: none"><%= room.id %></span>
    <h3>Você é <%= (player.isLoyal ? 'da Resistência' : ' Espião') %></h3>
    <h2>Placar: <span class='green'><%= room.successfulMissions %></span> - <span class='error-text'><%= room.failedMissions %></span></h2>
    <% var mission = room.getCurrentMission(); %>
    <% if (!mission.firstTeam) { %>
    <fieldset>
        <legend>Missão <%= room.currentMissionIndex+1 %></legend>
        <h2>EQUIPE REPROVADA</h2>
        <h3>Líder:</h3>
        <li><%= mission.lastLeader.name %></li>
        <h3>Agentes da missão:</h3>
        <% for (var i=0; i<mission.lastAgents.length; i++) { %>
          <li><%= mission.lastAgents[i].name %></li>
        <% } %>
    </fieldset>
    <% } %>
    <fieldset>
      <% var leader = room.getCurrentLeader() %>
      <% if (leader.id == player.id) { %>
        <b>Você</b> é o líder.
        Selecione <b><%= mission.numAgents %></b> agentes para enviar à missão.
      <% } else { %>
        o líder <b><%= leader.name %></b> está escolhendo quem irá enviar à missão.
      <% } %>
    </fieldset>
    <form action="/room/<%= room.id %>/selectAgents" method="post">
      <% if (leader.id == player.id) {
            if (mission.badSelect) { %>
              <div class="error-text">
                Selecione exatamente <b><%= mission.numAgents %></b> agentes!
              </div>
      <%    }
        } %>
      <ul>
      <% for (var i=0; i<room.players.length; i++) { %>
        <% var p = room.players[i]; %>
        <li>
          <% if (leader.id == player.id) { %>
            <input type="checkbox" name="agents[]" value=<%= i %>>
          <% } %>
          <span class=<%= (!player.isLoyal && !p.isLoyal ? 'error-text' : '') %>><%= p.name %></span>
          <% if (!mission.firstTeam) { %>
            <% if (mission.lastVotes[p.id]) { %>
              (<span class='green'>Apoiou</span> a última equipe.)
            <% } else { %>
              (<span class="error-text">Não apoiou</span> a última equipe.)
            <% } %>
          <% } %>
        </li>
      <% } %>
      <% if (leader.id == player.id) { %>
        <button type="submit">Confirmar Agentes</button>
      <% } %>
    </ul>
    </form>
  </body>
</html>
