<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    Player: <%= player.name+' ID: '+player.id+(player.isLoyal ? ' Loyal' : ' Spy') %>
    <% var mission = room.getCurrentMission(); %>
    <fieldset>
        <legend>Mission <%= room.currentMissionIndex+1 %></legend>
        <% if (mission.playersFailed == 0) { %>
          <h1 class='green'>MISSION SUCCEEDED %></h1>
        <% } else { %>
          <h1 class='error-text'>MISSION FAILED</h1>
          <h2>Mission failed by <span class='error-text'><%= mission.playersFailed %></span> agent(s).</h2>
        <% } %>
        <h3>Leader:</h3>
        <li><%= mission.leader.name %></li>
        <h3>Agents:</h3>
        <% for (var i=0; i<mission.agents.length; i++) { %>
          <li><%= mission.agents[i].name %></li>
        <% } %>
    </fieldset>
    <fieldset>
      <h2>Score: <span class="green"><%= room.currentMissionIndex + 1 - room.failedMissions %></span> - <span class='error-text'><%= room.failedMissions %></span></h2>
    </fieldset>
    <% if (room.failedMissions == 3) { %>
      <h1 class="error-text">GAME OVER! Spies won!</h1>
    <% } else if (room.currentMissionIndex + 1 - room.failedMissions == 3) { %>
      <h1 class="green">GAME OVER! Resistance won!</h1>
    <% } else if (mission.leader.id == player.id){ %>
      <form action="/room/<%= room.id %>/nextMission" %> method="post">
        <button type="submit">NEXT MISSION</button>
      </form>
    <% } %>

  </body>
</html>
