<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <h3>Você é <%= (player.isLoyal ? 'da Resistência' : ' Espião') %></h3>
    <h2>Placar: <span class="green"><%= room.getScore()['resistance'] %></span> - <span class='error-text'><%= room.getScore()['spies'] %></span></h2>
    <% var mission = room.getCurrentMission(); %>
    <% if (!mission.firstTeam) { %>
    <fieldset>
        <legend>Missão <%= room.currentMissionIndex+1 %></legend>
        <h2>EQUIPE REPROVADA</h2>
        <h3>Líder:</h3>
        <li><%= mission.lastLeader.name %></li>
        <h3>Agentes da missão:</h3>
        <% for (var i=0; i<mission.lastAgents.length; i++) { %>
          <li><%= mission.lastAgents[i].name %></li>
        <% } %>
    </fieldset>
    <% } %>
    <fieldset>
      <% var leader = room.getCurrentLeader() %>
      <% if (leader.id == player.id) { %>
        <b>Você</b> é o líder.
        Selecione <b><%= mission.numAgents %></b> agentes para enviar à missão.
      <% } else { %>
        o líder <b><%= leader.name %></b> está escolhendo quem irá enviar à missão.
      <% } %>
    </fieldset>
    <form action="/room/<%= room.id %>/selectAgents" method="post">
      <% if (leader.id == player.id) {
            if (mission.badSelect) { %>
              <div class="error-text">
                Selecione exatamente <b><%= mission.numAgents %></b> agentes!
              </div>
      <%    }
        } %>
      <ul>
      <% for (var i=0; i<room.players.length; i++) { %>
        <% var p = room.players[i]; %>
        <li>
          <% if (leader.id == player.id) { %>
            <input type="checkbox" name="agents[]" value=<%= i %>>
          <% } %>
          <span class=<%= (!player.isLoyal && !p.isLoyal ? 'error-text' : '') %>><%= p.name %>
          <% if (!mission.firstTeam) { %>
            (Voto para última equipe: <%= mission.lastVotes[p.id] %>)
          <% } %>
        </li>
      <% } %>
      <% if (leader.id == player.id) { %>
        <button type="submit">Confirmar Agentes</button>
      <% } %>
    </ul>
    </form>
  </body>
</html>
