<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    Player: <%= player.name+' ID: '+player.id+(player.isLoyal ? ' Loyal' : ' Spy') %>
    <% var mission = room.getCurrentMission(); %>
    <fieldset>
        <legend>Mission <%= room.currentMissionIndex+1 %></legend>
        <h1>TEAM APPROVED</h1>
        <h3>Leader:</h3>
        <li><%= mission.leader.name %></li>
        <h3>Agents:</h3>
        <% for (var i=0; i<mission.agents.length; i++) { %>
          <li><%= mission.agents[i].name %></li>
        <% } %>
    </fieldset>
    <% if (mission.playerIsOnMission(player) && !mission.playersDone[player.id]){ %>
      <h2>Make the mission Succeed or Fail?</h2>
      <form action="/room/<%= room.id %>/realizeMission" %> method="post">
        <button type="submit" name="action" value="succeed">SUCCEED</button>
        <button type="submit" name="action" value="fail">FAIL</button>
      </form>
    <% }  else if (mission.playersDone[player.id]) { %>
      <h2>Waiting other agents</h2>
    <% }  else { %>
      <h2>The agents are realizing the mission</h2>
    <% } %>

  </body>
</html>
