<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    Player: <%= player.name+' ID: '+player.id+(player.isLoyal ? ' Loyal' : ' Spy') %>
    <% var mission = room.getCurrentMission(); %>
    <% if (!mission.firstTeam) { %>
      <fieldset>
        <h1>TEAM REJECTED</h1>
        <h2>Agents: </h2>
        <% for (var i=0; i<mission.lastAgents.length; i++) { %>
          <h3><%= room.players[mission.lastAgents[i]].name %></h3>
        <% } %>
        <h2>Votes:</h2>
        <% for (var i=0; i<mission.lastVotes.length; i++) { %>
          <% var vote = mission.lastVotes[i]; %>
          <h3><%= vote.player.name %>: <%= (vote.vote ? 'YES' : 'NO') %></h3>
        <% } %>
      </fieldset>
    <% } %>


    <% if (room.getCurrentLeader().id == player.id) { %>
      <h2>You are the leader</h2>
      <h3>Select who you want to send</h3>
      <form action=<%= room.id + "/selectAgents" %> method="post">
      <ul>
        <% for (var i=0; i<room.players.length; i++) { %>
          <li><input type="checkbox" name="agents[]" value=<%= i %>><%= room.players[i].name %></li>
        <% } %>
      </ul>
      <button type="submit">Confirm Agents</button>
      </form>
    <% }  else { %>
      <h2>Leader <%= room.getCurrentLeader().name %> is choosing who he is going to send</h2>
    <% } %>

  </body>
</html>
