<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    Player: <%= player.name+' ID: '+player.id+(player.isLoyal ? ' Loyal' : ' Spy') %>
    <% var mission = room.getCurrentMission(); %>
    <fieldset>
        <legend>Mission <%= room.currentMissionIndex+1 %></legend>
        <h1>MISSION <%= (mission.playersFailed == 0 ? 'SUCCEEDED' : 'FAILED') %></h1>
        <h3>Leader:</h3>
        <li><%= mission.leader.name %></li>
        <h3>Agents:</h3>
        <% for (var i=0; i<mission.agents.length; i++) { %>
          <li><%= mission.agents[i].name %></li>
        <% } %>
    </fieldset>
    <% if (leader.id == player.id) { %>
      <form action="/room/<%= room.id %>/nextMission" %> method="post">
        <button type="submit">NEXT MISSION</button>
      </form>
    <% } %>

  </body>
</html>
