<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <h3>Você é <%= (player.isLoyal ? 'da Resistência' : ' Espião') %></h3>
    <h2>Placar: <span class='green'><%= room.successfulMissions %></span> - <span class='error-text'><%= room.failedMissions %></span></h2>
    <% var mission = room.getCurrentMission(); %>
    <fieldset>
        <legend>Missão <%= room.currentMissionIndex+1 %></legend>
        <h2>EQUIPE SENDO VOTADA</h2>
        <h3>Líder:</h3>
        <li><%= mission.leader.name %></li>
        <h3>Agentes:</h3>
        <% for (var i=0; i<mission.agents.length; i++) { %>
          <li><%= mission.agents[i].name %></li>
        <% } %>
    </fieldset>

    <% if (mission.playerHasVoted(player)) { %>
      <h1>Você <%= (mission.getPlayerVote(player) ? 'Apoiou' : 'Rejeitou') %> esta equipe</h1>
      <h2>Aguardando votos dos outros jogadores.</h2>
    <% } else { %>
      <h2>Você apoia esta equipe?</h2>
      <form action="/room/<%= room.id %>/voteTeam" %> method="post">
        <button type="submit" name="vote" value="yes">Sim</button>
        <button type="submit" name="vote" value="no">Não</button>
      </form>
    <% } %>

  </body>
</html>
