<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/scripts/room.js"></script>
  </head>
  <body>
    <span id="phase" style="display: none"><%= room.phase %></span>
    <span id="roomId" style="display: none"><%= room.id %></span>
    <h3>Você é <%= (player.isLoyal ? 'da Resistência' : ' Espião') %></h3>
    <h2>Placar: <span class='green'><%= room.successfulMissions %></span> - <span class='error-text'><%= room.failedMissions %></span></h2>
    <% var mission = room.getCurrentMission(); %>
    <fieldset>
        <legend>Missão <%= room.currentMissionIndex+1 %></legend>
        <h1>EQUIPE APROVADA</h1>
        <h3>Líder:</h3>
        <li><%= mission.leader.name %></li>
        <h3>Agentes:</h3>
        <% for (var i=0; i<mission.agents.length; i++) { %>
          <li><%= mission.agents[i].name %></li>
        <% } %>
    </fieldset>
    <% if (mission.playerIsOnMission(player) && !mission.playersDone[player.id]){ %>
      <h2>CUMPRIR ou SABOTAR a missão?</h2>
      <form action="/room/<%= room.id %>/realizeMission" %> method="post">
        <button type="submit" name="action" value="succeed">CUMPRIR</button>
        <button type="submit" name="action" value="fail">SABOTAR</button>
      </form>
    <% }  else if (mission.playersDone[player.id]) { %>
      <h2>Aguardando outros agentes</h2>
    <% }  else { %>
      <h2>Os agentes estão realizando a missão</h2>
    <% } %>
    <ul>
    <% for (var i=0; i<room.players.length; i++) { %>
      <% var p = room.players[i]; %>
      <li>
        <span class=<%= (!player.isLoyal && !p.isLoyal ? 'error-text' : '') %>><%= p.name %></span>
        <% if (mission.votes[p.id]) { %>
          (<span class='green'>Apoiou</span> esta equipe.)
        <% } else { %>
          (<span class="error-text">Não apoiou</span> esta equipe.)
        <% } %>
      </li>
    <% } %>
  </ul>

  </body>
</html>
