<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <h1>Room <%= room.id %></h1>

    <% if (!player) { %>
      <form action="/room/<%= room.id %>/joinRoom" %> method="post">
        <label for="name">Your name:&nbsp;&nbsp;&nbsp;</label>
        <input type="text" placeholder="My Name" name="username" />
        <button type="submit">Join Room</button>
      </form>
    <% } else { %>
      <h3>You are logged in as <%= player.name %></h3>
      <% if (player == room.owner) { %>
        <form action=<%= room.id + "/startGame" %> method="post">
          <button type="submit">Start Game</button>
        </form>
        <% if (room.badStart) { %>
          <div class="error-text">
            The game is for <b>5</b> to <b>10</b> players.
          </div>
        <% } %>
        <form action=<%= room.id + "/addBots" %> method="post">
          <button type="submit">Add Bots</button>
        </form>
      <% } %>
    <% }%>

    <h2>Participants(<%= Object.keys(room.players).length %>): %></h2>
    <ul>
    <% for (var i=0; i<room.players.length; i++) { %>
        <li><%= room.players[i].name %></li>
    <% } %>
    </ul>

  </body>
</html>
