<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resistance Web</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/scripts/room.js"></script>
  </head>
  <body>
    <span id="phase" style="display: none"><%= room.phase %></span>
    <span id="roomId" style="display: none"><%= room.id %></span>
    <h1>Sala <%= room.id %></h1>

    <% if (!player) { %>
      <form action="/room/<%= room.id %>/joinRoom" %> method="post">
        <h3>Digite seu nome para entrar na sala</h3>
        <label for="name">Nome:&nbsp;&nbsp;&nbsp;</label>
        <input type="text" placeholder="Seu nome" name="username" />
        <button type="submit">Entrar na sala</button>
      </form>
    <% } else { %>
      <h3>Você está logado como: <%= player.name %></h3>
      <% if (player == room.owner) { %>
        <form action=<%= room.id + "/startGame" %> method="post">
          <button type="submit">Começar Partida</button>
        </form>
        <% if (room.badStart) { %>
          <div class="error-text">
            É preciso ter de <b>5</b> a <b>10</b> jogadores para jogar.
          </div>
        <% } %>
      <% } %>
    <% }%>

    <h2>Jogadores(<%= Object.keys(room.players).length %>): %></h2>
    <ul>
    <% for (var i=0; i<room.players.length; i++) { %>
        <li><%= room.players[i].name %></li>
    <% } %>
    </ul>

  </body>
</html>
